@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root {
	--colorLight: #fafafa;
	--colorDark: #222831;
	--colorMain: #30475E;
	--colorAccent: #F05454;
	--fontFamily: 'Poppins', sans-serif;
}

body {
	font-family: var(--fontFamily);
}
/* GENERAL */
.v-image-full-width {
	width: 100%;
}
.v-shadow {
	box-shadow: #02021273 0px 6px 12px -2px, rgb(0 0 0 / 38%) 3px 2px 12px -2px;
	transition: .3s;
}
.v-shadow:hover {
	box-shadow: 1px 2px 12px -4px;
}
/* // GENERAL */

/* CARDS */
.v-cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 40px 50px;
	padding: 5vw;
	background-color: var(--colorLight);
}
.v-card {
	width: clamp(340px, 25vw, 650px);
	padding: clamp(15px, 3vw, 60px) clamp(15px, 2vw, 40px);
	background-color: var(--colorLight);
	border-radius: 20px;
	color: var(--colorMain);
}
.v-card-header {
	display: flex;	
	align-items: center;
	flex-wrap: wrap;
	gap: 10px 20px;
	margin-bottom: clamp(20px, 2rem, 40px);
	color: #000;
}
.v-card-header img {
	border-radius: 50%;
}
.v-card-content {
	margin-bottom: clamp(20px, 2rem, 40px);
}
.v-card-content p {
	font-family: inherit;
	margin: 5px 0;
}
.v-card-content a {
	font-family: inherit;
	color: var(--colorDark);
}
.v-card-content a:hover {
	color: var(--colorAccent);	
}
.v-card-content img {
	margin: 10px 0;
}
.v-card-content button {	
	margin: 20px 0;
    padding: 0.3rem 0.6rem;
    background: var(--colorAccent);	
	color: var(--colorLight);
	font-family: inherit;
}
.v-card-footer {
	color: var(--colorAccent);
}


/* // CARDS */